/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  font-family: "Roboto";
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu {
  background-color: #efefef;
  padding: 16px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header-logo-block {
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}

.header-logo-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header-logo-block__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #66c05d;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  gap: 20px;
}

.navigation-menu__link {
  background-color: #fff;
  color: black;
}

.navigation-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding: 30px;
  background-color: #fff;
}

.sale {
  background: url("../img/sale.jpg") center/cover no-repeat;
  width: 100%;
  height: 604px;
  color: #fff;
}

.sale__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.sale__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.button-link {
  border: 2px solid #fff;
}

.sale__button {
  padding: 13px 27px;
  border-radius: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.sale__button:hover {
  background-color: #fff;
  color: black;
}

.sale__container {
  width: 100%;
  height: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.special-offers {
  background-color: #efefef;
}

.special-offers__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 80px 0 38px 0;
}

.product {
  width: 100%;
}
.product__item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 30px;
  gap: 20px;
}
.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  gap: 30px;
}
.product__image {
  width: 125px;
  height: 166px;
}
.product__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.product__price {
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: center;
}
.product__buy-button {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 9px 40px;
  background-color: #66c05d;
  border-radius: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.product__buy-button:hover {
  background-color: #58a151;
}

.offer {
  background-color: #66c05d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  width: 100%;
}
.offer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 133px;
}
.offer__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.offer__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  padding: 35px 40px;
  width: 65%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email-input {
  background-color: #fff;
  padding: 9px 25px;
  border-radius: 30px;
  max-width: 225px;
  min-width: 100px;
  color: black;
}

.email-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.email-input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.email-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.email-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.email-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.offer__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1em;
}

.offer__button {
  padding: 9px 29px;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.offer__button:hover {
  background-color: #fff;
  color: black;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
}

.bottom-footer {
  background-color: #efefef;
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 20px;
}

.bottom-footer__link {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  color: #828282;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.social__list-link {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #66c05d;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.social__list-link:hover {
  border-color: #333333;
}

.social-1 {
  background: url("../img/yt.svg") center/70% no-repeat;
}

.social-2 {
  background: url("../img/vk.svg") center/70% no-repeat;
}

.social-3 {
  background: url("../img/facebook-logo.svg") center/70% no-repeat;
}

.social-4 {
  background: url("../img/instagram.svg") center/70% no-repeat;
}

.phone-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.phone-contacts__phone {
  color: black;
}

.phone-contacts__callback {
  color: black;
  border: 2px solid #66c05d;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 27px;
  border-radius: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.phone-contacts__callback:hover {
  background-color: #66c05d;
  color: #fff;
}

.menu__link {
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.navigation-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation-menu {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

.main-link {
  padding: 2px 0;
}
.main-link:hover {
  border-bottom: 1px solid black;
}

.add-link {
  padding: 2px 0;
}
.add-link:hover {
  border-bottom: 1px solid #333333;
}

.visually-hidden {
  display: none;
}

.adaptive-button {
  display: none;
  position: relative;
  cursor: pointer;
  margin: 20px;
  width: 66px;
  height: 30px;
}

.adaptive-button__arrow-left {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.adaptive-button__arrow-left::after {
  content: "";
  background-color: #333333;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.adaptive-button__arrow-right {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.adaptive-button__arrow-right::after {
  content: "";
  background-color: #333333;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.open .adaptive-button__arrow-left:after {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.open .adaptive-button__arrow-right::after {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

@media (max-width: 960px) {
  .main-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .product-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sale {
    height: 550px;
  }
}
@media (min-width: 571px) and (max-width: 960px) {
  .product {
    width: 45%;
  }
}
@media (max-width: 890px) {
  .offer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bottom-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .special-offers__title {
    padding: 50px 0 30px 0;
  }
  .product-list {
    margin-bottom: 60px;
  }
  .offer-list {
    padding-bottom: 80px;
  }
}
@media (min-width: 2200px) {
  .sale {
    height: 750px;
  }
  .container {
    max-width: 1500px;
  }
}
@media (min-width: 2700px) {
  .sale {
    height: 800px;
  }
  .container {
    max-width: 1800px;
  }
}
@media (min-width: 3100px) {
  .sale {
    height: 900px;
  }
  .container {
    max-width: 2000px;
  }
}
@media (max-width: 745px) {
  .header-logo-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .adaptive-button {
    display: block;
  }
  .navigation-menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navigation-menu__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }
  .sale {
    height: 500px;
  }
  .adaptive-visually-hidden {
    display: none;
  }
}
@media (max-width: 440px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer .offer__icon-container {
    padding: 10px 0;
    width: 100%;
  }
  .offer .offer__item {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer .offer__item .offer__description {
    text-align: center;
  }
}
@media (max-width: 590px) {
  .sale {
    height: 430px;
  }
  .product {
    width: 100%;
  }
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sale__container {
    gap: 30px;
  }
}
@media (max-width: 400px) {
  .phone-contacts {
    font-size: 14px;
  }
  .phone-contacts .phone-contacts__callback {
    padding: 6px 14px;
  }
  .sale {
    height: 300px;
  }
}